</!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>

	<!-- meta -->
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- /meta -->

	<!-- styles -->
	<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

	<!-- /styles -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- favicons -->

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" href="/static/ico/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/static/ico/favicon.png">
	<!-- /favicons -->

	<!-- scripts -->
	<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
	<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
	<!-- /scripts -->
</head>
<body>
<!-- Nav Bar -->
    <div class="navbar-fixed">
      <nav class="navbar">
          <a href="" class="brand-logo" >Place Treat</a>
          <li><a class="waves-effect waves-light btn white add-place-btn" id="share-place">Place to share?</a></li>
       </nav>
    </div>
    <div class="input-field" id="inputFieldCity">
          <input id="email" type="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Where's your next destination?</label>
        </div>

    <div class="parentFlexBoxCity">
        <div class="col s12 m7">
    	<div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
          </div>
           <div class="col s12 m7">
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
            </div>
          </div>
          <div class="col s12 m7">
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
            </div>
          </div>
           <div class="col s12 m7">     
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
          </div>
          <div class="col s12 m7">
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
          </div>
         <div class="col s12 m7">
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
            </div>
          </div>
          <div class="col s12 m7">
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
          </div>
         <div class="col s12 m7">
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
          </div>
         <div class="col s12 m7">
          <div class="cityCard">
            <div class="card-image">
              <img id="cardPic" src="../static/img/Kanye600x600.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
          </div>
    </div>
</body>
</html>
