
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
* {
font-family: 'Roboto', sans-serif;
}
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
.navbar {
  background-color: #039BE5;
}

.add-place-btn {
  background: #00C1AB;
  color: #039BE5;
  text-transform: none;
  margin-left: 70%;
}

a.add-place-btn {
	color:#039BE5;
}
.btn *:hover {
    pointer-events: none !important;
}

#share-place {
	margin-left: 80%;

}


nav .brand-logo {
	margin-left: 3%;
	font-size: 1.5rem !important;
	font-family: 'Roboto', sans-serif;

	/*a {
		font-size: 1rem !important;
	}*/
}
.cityCard {
  width: 200px;
  height: 200px;
}
#cardPic {
  width: 100px;
  height: 100px;
}
.parentFlexBoxCity {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;

}
#email {
  margin-top: 2%;
}
#inputFieldCity {
  margin-left: 3%;
  margin-right: 3%;
}

/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
